body{
  background-color:grey;
}

.black{
  margin: auto;
  background-color: red;
  width:50vw;
  height:50vh;
}

p{
  font-size:80px;
  color:white;
}

.i{
  font-size:30;
  color:grey;
  font-style:italic;
}
.center{
  text-align: center;
}

.tickets{
  margin:auto;
  height:40%;
  width:60%;
  background-color: white;
}

.one{
  height:calc(100%/3);
  background-color:orange;
}

.two{
  height:calc(100%/3);
  background-color:purple;
}

.third{
  height:calc(100%/3);
  background-color:green;
}
